* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font: size 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.scores {
    position: absolute;
    top: 10px;
    left: 10px;

}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 2rem;
    text-align: justify;
}

.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.flex-column{
display: flex;
flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;

}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}
.btn  {
    font-size: 1rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    color:white;
    background:purple;
    border-radius: 4px;

}

.btn{
    cursor: pointer;
    box-shadow: rgb(97, 5, 97);
    transform: scale(1.5);
}

.btn [disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border:black;
} 
    
input::placeholder{
 color: purple;
 

}
#username{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
     text-align: center;
}

#saveScoreBtn {
    border:none;
}